---
import { type MarkdownInstance } from "astro";
import { type PostFrontmatter } from "../pages/posts/PostFrontmatter";
import Tag from "./Tag.astro";

interface Props {
  post: MarkdownInstance<PostFrontmatter>;
}

const { post } = Astro.props;
---

<article>
  <header>
    <h2>{post.frontmatter.title}</h2>
    <span>{post.frontmatter.description}</span>
  </header>
  <ul>
    {
      post.frontmatter.tags.map((i) => (
        <li>
          <Tag name={i} />
        </li>
      ))
    }
  </ul>
  <time datetime={post.frontmatter.pubDate}
    >{new Date(post.frontmatter.pubDate).toLocaleDateString()}</time
  >
  <a href={post.url}></a>
</article>

<style>
  article {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 90%;
    grid-template-rows: 3fr 1fr;
    width: 262px;
    height: 300px;
    border: solid 1px var(--primary);
    background-color: #ffffff;
    color: black;

    > a {
      width: 262px;
      height: 300px;
      position: absolute;
    }

    > header {
      display: grid;
      justify-content: center;
      height: auto;
      background-color: transparent;
      > span {
        width: 100%;
        text-align: start;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: center;
      }

      > h2 {
        text-align: center;
        font-size: larger;
        margin: 0;
      }
    }

    > ul {
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      row-gap: 0;
      justify-content: center;
      > li {
        font-size: small;
      }
    }

    > time {
      text-align: end;
      font-size: smaller;
    }
  }
</style>
