---
import { type PostFrontmatter } from "../pages/posts/PostFrontmatter";
import type MetaTags from "../util/MetaTags";
import { ViewTransitions } from "astro:transitions";
import MenuBtn from "../components/MenuBtn.astro";
import "../styles/post.css";

interface Props {
  frontmatter: PostFrontmatter;
}

const { frontmatter } = Astro.props;
const metaTags: MetaTags = {
  title: frontmatter.title,
  description: frontmatter.description,
  keywords: frontmatter.tags,
  ogType: "article",
  author: frontmatter.author,
  language: frontmatter.language,
  ogImage: frontmatter.image,
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Blog/favicon.svg" />
    <!-- Meta tags -->
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={metaTags.title} />
    <meta name="description" content={metaTags.description} />
    <meta name="keywords" content={metaTags.keywords.join(",")} />
    <meta name="robots" content={metaTags.robots || "index, follow"} />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content={metaTags.language || "English"} />
    <meta name="author" content={metaTags.author || "Kingomac"} />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={metaTags.ogType || "website"} />
    <meta property="og:url" content={metaTags.ogUrl || Astro.request.url} />
    <meta property="og:title" content={metaTags.ogTitle} />
    <meta
      property="og:description"
      content={metaTags.ogDescription || metaTags.description}
    />
    <meta property="og:image" content={metaTags.ogImage} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content={metaTags.xUrl || metaTags.ogUrl || Astro.request.url}
    />
    <meta
      property="twitter:title"
      content={metaTags.xTitle || metaTags.ogTitle}
    />
    <meta
      property="twitter:description"
      content={metaTags.xDescription ||
        metaTags.ogDescription ||
        metaTags.description}
    />
    <meta
      property="twitter:image"
      content={metaTags.xImage || metaTags.ogImage}
    />

    <title>{metaTags.title}</title>
    <ViewTransitions />
  </head>
  <body
    id="post-body"
    class="bg-gradient-to-b from-teal-900 via-emeral-300 to-slate-100"
  >
    <header
      transition:persist
      class="bg-black bg-opacity-40 text-white p-3 text-4xl font-bold gap-4"
    >
      <MenuBtn rootClass="absolute" />
      <h1><a href="/Blog/">Mario's code chronicles</a></h1>
    </header>
    <main class="flex flex-col justify-center m-1">
      <h1 class="bg-white bg-opacity-70 font-bold my-5 rounded-md text-4xl p-5">
        {frontmatter.title}
      </h1>
      <div class="post-page">
        <slot />
        <aside>jkahkas</aside>
      </div>
    </main>
  </body>
</html>
